header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-item {
    display: flex;
    /* gap na classe pai */
    gap: 16px;
    list-style: none;
    text-transform: capitalize;
}

.nav-item a {
    animation: ease-in-out 1s;
}

.item-menu:hover {
    transform: scale(1.1);
    /* text-decoration: underline rebeccapurple; */
}

.logo {
    font-family: "IBM PLEX Mono", monospace;
    font-size: 24px;
}

.logo span {
    color: #04d361;
}



