.content-projects {
    background-color: rgb(207, 127, 245);
}

.lista-projects{
    list-style: none;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 10px;
    background-color: rgb(55, 0, 255);
}

.texto-card {
    color:rgb(114, 23, 156);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px;
}

.link-projet {
    text-decoration: none;
    background-color: rgb(58, 52, 107);
    text-align: center;
    padding: 8px 25px;
    width: 100%;
    border: black solid 2px;
    border-radius: 10px;
}

.links {
    position: relative;
    text-align: center;
    bottom: 10px;
    padding: 10px;
}